Code/ShipWorks/Web References/ShipWorks.Shipping.Carriers.Postal.Express1.WebServices.Stamps/SDCV24Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.express1.com/2011/08" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SDCV24Service" targetNamespace="http://www.express1.com/2011/08" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ISDCV24Service_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.express1.com/2011/08/Imports">
      <xsd:import schemaLocation="https://service.express1.com/Services/SDCV24Service.svc?xsd=xsd0" namespace="http://www.express1.com/2011/08" />
      <xsd:import schemaLocation="https://service.express1.com/Services/SDCV24Service.svc?xsd=xsd1" namespace="http://microsoft.com/wsdl/types/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISDCV24Service_CreateIndicium_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIndicium" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_CreateIndicium_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIndiciumResponse" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_CreateTestIndicium_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTestIndicium" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_CreateTestIndicium_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTestIndiciumResponse" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_GetRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRates" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_GetRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRatesResponse" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_GetAccountInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountInfo" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_GetAccountInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_CleanseAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:CleanseAddress" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_CleanseAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanseAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_CancelIndicium_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelIndicium" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_CancelIndicium_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelIndiciumResponse" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_PurchasePostage_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchasePostage" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_PurchasePostage_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchasePostageResponse" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_PurchasePostageViaProPay_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchasePostageViaProPay" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_PurchasePostageViaProPay_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchasePostageViaProPayResponse" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_CreateScanForm_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateScanForm" />
  </wsdl:message>
  <wsdl:message name="ISDCV24Service_CreateScanForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateScanFormResponse" />
  </wsdl:message>
  <wsdl:portType name="ISDCV24Service">
    <wsdl:operation name="CreateIndicium">
      <wsdl:input wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/CreateIndicium" message="tns:ISDCV24Service_CreateIndicium_InputMessage" />
      <wsdl:output wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/CreateIndiciumResponse" message="tns:ISDCV24Service_CreateIndicium_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTestIndicium">
      <wsdl:input wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/CreateTestIndicium" message="tns:ISDCV24Service_CreateTestIndicium_InputMessage" />
      <wsdl:output wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/CreateTestIndiciumResponse" message="tns:ISDCV24Service_CreateTestIndicium_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRates">
      <wsdl:input wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/GetRates" message="tns:ISDCV24Service_GetRates_InputMessage" />
      <wsdl:output wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/GetRatesResponse" message="tns:ISDCV24Service_GetRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/AuthenticateUser" message="tns:ISDCV24Service_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/AuthenticateUserResponse" message="tns:ISDCV24Service_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <wsdl:input wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/GetAccountInfo" message="tns:ISDCV24Service_GetAccountInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/GetAccountInfoResponse" message="tns:ISDCV24Service_GetAccountInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CleanseAddress">
      <wsdl:input wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/CleanseAddress" message="tns:ISDCV24Service_CleanseAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/CleanseAddressResponse" message="tns:ISDCV24Service_CleanseAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelIndicium">
      <wsdl:input wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/CancelIndicium" message="tns:ISDCV24Service_CancelIndicium_InputMessage" />
      <wsdl:output wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/CancelIndiciumResponse" message="tns:ISDCV24Service_CancelIndicium_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchasePostage">
      <wsdl:input wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/PurchasePostage" message="tns:ISDCV24Service_PurchasePostage_InputMessage" />
      <wsdl:output wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/PurchasePostageResponse" message="tns:ISDCV24Service_PurchasePostage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchasePostageViaProPay">
      <wsdl:input wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/PurchasePostageViaProPay" message="tns:ISDCV24Service_PurchasePostageViaProPay_InputMessage" />
      <wsdl:output wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/PurchasePostageViaProPayResponse" message="tns:ISDCV24Service_PurchasePostageViaProPay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateScanForm">
      <wsdl:input wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/CreateScanForm" message="tns:ISDCV24Service_CreateScanForm_InputMessage" />
      <wsdl:output wsaw:Action="http://www.express1.com/2011/08/ISDCV24Service/CreateScanFormResponse" message="tns:ISDCV24Service_CreateScanForm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISDCV24Service" type="tns:ISDCV24Service">
    <wsp:PolicyReference URI="#BasicHttpBinding_ISDCV24Service_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateIndicium">
      <soap:operation soapAction="http://www.express1.com/2011/08/ISDCV24Service/CreateIndicium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTestIndicium">
      <soap:operation soapAction="http://www.express1.com/2011/08/ISDCV24Service/CreateTestIndicium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRates">
      <soap:operation soapAction="http://www.express1.com/2011/08/ISDCV24Service/GetRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://www.express1.com/2011/08/ISDCV24Service/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <soap:operation soapAction="http://www.express1.com/2011/08/ISDCV24Service/GetAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanseAddress">
      <soap:operation soapAction="http://www.express1.com/2011/08/ISDCV24Service/CleanseAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelIndicium">
      <soap:operation soapAction="http://www.express1.com/2011/08/ISDCV24Service/CancelIndicium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchasePostage">
      <soap:operation soapAction="http://www.express1.com/2011/08/ISDCV24Service/PurchasePostage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchasePostageViaProPay">
      <soap:operation soapAction="http://www.express1.com/2011/08/ISDCV24Service/PurchasePostageViaProPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateScanForm">
      <soap:operation soapAction="http://www.express1.com/2011/08/ISDCV24Service/CreateScanForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SDCV24Service">
    <wsdl:port name="BasicHttpBinding_ISDCV24Service" binding="tns:BasicHttpBinding_ISDCV24Service">
      <soap:address location="https://service.express1.com/Services/SDCV24Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>