Code/ShipWorks/Shipping/Carriers/OnTrac/Net/Schemas/OnTracShipmentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="OnTracShipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Error" type="xs:string" />
        <xs:element ref="Shipments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	<xs:element name="Shipments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Shipment" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Shipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UID" type="xs:string"/>
				<xs:element name="Tracking" type="xs:string"/>
				<xs:element name="Error" type="xs:string"/>
				<xs:element name="TransitDays" type="xs:integer"  />
				<xs:element name="ExpectedDeliveryDate" type="xs:string"/>
				<xs:element name="CommitTime" type="xs:time"/>
				<xs:element name="ServiceChrg" type="xs:decimal"/>
				<xs:element name="ServiceChargeDetails"/>
				<xs:element name="RateZone" type="xs:integer" />
				<xs:element name="BilledWeight" type="xs:integer" />
				<xs:element name="FuelChrg" type="xs:decimal"/>
				<xs:element name="TotalChrg" type="xs:decimal"/>
				<xs:element name="TariffChrg" type="xs:decimal"/>
				<xs:element name="Label" type="xs:string"/>
				<xs:element name="SortCode" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="ServiceChargeDetails">
		<xs:complexType>
			<xs:sequence>
        <xs:element name="BaseCharge" type="xs:decimal"/>
        <xs:element name="CODCharge" type="xs:decimal"/>
        <xs:element name="DeclaredCharge" type="xs:decimal"/>
        <xs:element name="AdditionalCharges" type="xs:decimal"/>
        <xs:element name="SaturdayCharge" type="xs:decimal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
