Code/ShipWorks/Shipping/Carriers/OnTrac/Net/Schemas/OnTracRateResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OnTracRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Shipments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	<xs:element name="Shipments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Shipment" maxOccurs="unbounded"/>
				<xs:element name="Error" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Shipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Rates"/>
				<xs:element name="UID" type="xs:string"/>
				<xs:element name="Delzip" type="xs:integer"/>
				<xs:element name="PUZip" type="xs:integer"/>
				<xs:element name="Declared" type="xs:decimal"/>
				<xs:element name="Residential" type="xs:boolean"/>
				<xs:element name="COD" type="xs:decimal"/>
				<xs:element name="SaturdayDel" type="xs:boolean"/>
				<xs:element name="Weight" type ="xs:integer" />
				<xs:element ref="DIM"/>
				<xs:element name="Error" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServiceChargeDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BaseCharge" type="xs:decimal"/>
				<xs:element name="CODCharge" type="xs:decimal"/>
				<xs:element name="DeclaredCharge" type="xs:decimal"/>
				<xs:element name="AdditionalCharges" type="xs:decimal"/>
				<xs:element name="SaturdayCharge" type="xs:decimal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rates">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Rate" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Service" type="xs:string"/>
				<xs:element name="ServiceCharge" type ="xs:decimal"/>
				<xs:element ref="ServiceChargeDetails"/>
				<xs:element name="FuelCharge" type ="xs:decimal"/>
				<xs:element name="TotalCharge" type ="xs:decimal"/>
				<xs:element name="BilledWeight" type="xs:integer"/>
				<xs:element name="TransitDays" type="xs:integer"/>
				<xs:element name="ExpectedDeliveryDate" type="xs:integer"/>
				<xs:element name="CommitTime" type="xs:time"/>
				<xs:element name="RateZone" type="xs:integer"/>
				<xs:element name="GlobalRate" type ="xs:decimal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DIM">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Length" type="xs:integer"/>
				<xs:element name="Width" type="xs:integer"/>
				<xs:element name="Height" type="xs:integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
