Code/ShipWorks/Shipping/Carriers/OnTrac/Net/Schemas/OnTracRateResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="OnTracRateResponse" type="RateShipmentList" nillable="true"/>
	<xs:complexType name="RateShipmentList">
		<xs:sequence>
			<xs:element name="Shipments" type="ArrayOfRateShipment" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Error" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfRateShipment">
		<xs:sequence>
			<xs:element name="Shipment" type="RateShipment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateShipment">
		<xs:sequence>
			<xs:element name="Rates" type="ArrayOfRateQuote" minOccurs="1" maxOccurs="1"/>
			<xs:element name="UID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Delzip" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PUZip" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Declared" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Residential" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="COD" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SaturdayDel" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Weight" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DIM" type="Dim" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Error" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfRateQuote">
		<xs:sequence>
			<xs:element name="Rate" type="RateQuote" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateQuote">
		<xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Service" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ServiceCharge" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="ServiceChargeDetails" type="ServiceChargeDetails" />
      <xs:element minOccurs="1" maxOccurs="1" name="FuelCharge" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalCharge" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="BilledWeight" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransitDays" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExpectedDeliveryDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CommitTime" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="RateZone" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="GlobalRate" type="xs:double" />
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="Dim">
		<xs:sequence>
			<xs:element name="Length" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Width" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Height" type="xs:double" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
  <xs:complexType name="ServiceChargeDetails">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BaseCharge" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="CODCharge" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="DeclaredCharge" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="AdditionalCharges" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="SaturdayCharge" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
