Code/ShipWorks/Shipping/Carriers/OnTrac/Net/Schemas/OnTracZipResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="OnTracZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Zips"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


	<xs:element name="Zips">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Zip" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
  
  
	<xs:element name="Zip">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="zipCode" type="xs:integer"/>
				<xs:element name="saturdayServiced" type="xs:byte"/>
				<xs:element name="pickupServiced" type="xs:byte"/>
				<xs:element name="palletizedServiced" type="xs:byte"/>
				<xs:element name="sortCode" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
