Code/ShipWorks/Shipping/Carriers/OnTrac/Net/Schemas/OnTracDirectPostShipmentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


  <xs:element name="OnTracDirectPostShipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Error" type="xs:string"/>
        <xs:element ref="Shipments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="Shipments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Shipment" maxOccurs="75"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

	<xs:element name="Shipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UID" type="xs:string"/>
				<xs:element name="PIC" type="xs:integer"/>
				<xs:element name="SortCode" type="xs:string"/>
				<xs:element name="Section" type="xs:string"/>
				<xs:element name="Bin" type="xs:string"/>
				<xs:element name="ServiceChrg" type="xs:decimal"/>
				<xs:element name="FuelChrg" type="xs:decimal"/>
				<xs:element name="TotalChrg" type="xs:decimal"/>
				<xs:element name="TariffChrg" type="xs:decimal"/>
				<xs:element name="RateZone"  type="xs:integer"/>
				<xs:element name="Label" type="xs:string"/>
				<xs:element name="Error" type="xs:string"/>
				<xs:element name="DropName" type="xs:string"/>
				<xs:element name="DropAddress" type="xs:string"/>
				<xs:element name="DropCity" type="xs:string"/>
				<xs:element name="DropState" type="xs:string"/>
				<xs:element name="DropZIP" type="xs:string"/>
				<xs:element name="DropType" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
