Code/ShipWorks/Shipping/Carriers/OnTrac/Net/Schemas/OnTracDirectPostShipmentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


  <xs:element name="OnTracDirectPostShipmentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Shipments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="Shipments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Shipment"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="Shipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UID"/>
        <xs:element ref="shipper"/>
        <xs:element ref="consignee"/>
        <xs:element name="Weight" type="xs:decimal"/>
        <xs:element name="BillTo" type="xs:integer"/>
        <xs:element name="Reference" type="xs:string"/>
        <xs:element name="Reference2" type="xs:string"/>
        <xs:element name="LabelType" type="xs:integer"/>
        <xs:element name="ShipEmail" type="xs:string"/>
        <xs:element name="DelEmail" type="xs:string"/>
        <xs:element name="Barcode" type="xs:integer"/>
        <xs:element name="PIC" type="xs:integer"/>
        <xs:element name="STC" type="xs:integer"/>
        <xs:element name="BCC" type="xs:string"/>
        <xs:element name="MID" type="xs:integer"/>
        <xs:element name="Endorsements" type="xs:string"/>
        <xs:element name="IsMachinable" type="xs:boolean"/>
        <xs:element name="ShipDate" type="xs:date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
	<xs:element name="shipper">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Addr1" type="xs:string"/>
				<xs:element name="City" type="xs:string"/>
				<xs:element name="State" type="xs:string"/>
				<xs:element name="Zip" type="xs:string"/>
				<xs:element name="Contact" type="xs:string"/>
				<xs:element name="Phone" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
  
  
	<xs:element name="consignee">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Addr1" type="xs:string"/>
				<xs:element name="Addr2" type="xs:string"/>
				<xs:element name="Addr3" type="xs:string"/>
				<xs:element name="City" type="xs:string"/>
				<xs:element name="State" type="xs:string"/>
				<xs:element name="Zip" type="xs:string"/>
				<xs:element name="Contact" type="xs:string"/>
				<xs:element name="Phone" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>  
  

</xs:schema>
