Code/ShipWorks/Shipping/Carriers/OnTrac/Net/Schemas/OnTracShipmentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Robert Darst (OnTrac) -->
<!--W3C Schema generated by XMLSpy v2013 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="OnTracShipmentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Shipments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Shipments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Shipment" maxOccurs="75"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="Shipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UID"  type="xs:string"/>
        <xs:element ref="shipper"/>
        <xs:element ref="consignee"/>
        <xs:element name="Service"  type="xs:string"/>
        <xs:element name="SignatureRequired"/>
        <xs:element name="Residential" type="xs:boolean"/>
        <xs:element name="SaturdayDel" type="xs:boolean"/>
        <xs:element name="Declared" type="xs:decimal"/>
        <xs:element name="COD"  type="xs:decimal"/>
        <xs:element name="CODType" type="xs:string"/>
        <xs:element name="Weight" type="xs:integer"/>
        <xs:element name="BillTo" type="xs:integer"/>
        <xs:element name="Instructions" type="xs:string"/>
        <xs:element name="Reference" type="xs:string"/>
        <xs:element name="Reference2" type="xs:string"/>
        <xs:element name="Reference3" type="xs:string"/>
        <xs:element name="Tracking" type="xs:string"/>
        <xs:element ref="DIM"/>
        <xs:element name="LabelType" type="xs:integer"/>
        <xs:element name="ShipEmail" type="xs:string"/>
        <xs:element name="DelEmail" type="xs:string"/>
        <xs:element name="ShipDate" type="xs:date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="shipper">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name"  type="xs:string"/>
				<xs:element name="Addr1"  type="xs:string"/>
				<xs:element name="City"  type="xs:string"/>
				<xs:element name="State"  type="xs:string"/>
				<xs:element name="Zip"  type="xs:string"/>
				<xs:element name="Contact" type="xs:string"/>
				<xs:element name="Phone" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
  
  
	<xs:element name="consignee">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Addr1" type="xs:string"/>
				<xs:element name="Addr2" type="xs:string"/>
				<xs:element name="Addr3" type="xs:string"/>
				<xs:element name="City" type="xs:string"/>
				<xs:element name="State" type="xs:string"/>
				<xs:element name="Zip" type="xs:string"/>
				<xs:element name="Contact" type="xs:string"/>
				<xs:element name="Phone" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
  


	
	<xs:element name="DIM">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Length" type="xs:integer"/>
				<xs:element name="Width" type="xs:integer"/>
				<xs:element name="Height" type="xs:integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
