Code/ShipWorks.ThirdPartyApi/Web References/Shipping.Carriers.FedEx.WebServices.Registration/RegistrationServiceDefinitions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:ns="http://fedex.com/ws/registration/v7" xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/" name="RegistrationServiceDefinitions" targetNamespace="http://fedex.com/ws/registration/v7" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fedex.com/ws/registration/v7" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="MeterAutoConfigurationReply" type="ns:MeterAutoConfigurationReply" />
      <xs:element name="MeterAutoConfigurationRequest" type="ns:MeterAutoConfigurationRequest" />
      <xs:element name="MeterAutoConfigurationStatusReply" type="ns:MeterAutoConfigurationStatusReply" />
      <xs:element name="MeterAutoConfigurationStatusRequest" type="ns:MeterAutoConfigurationStatusRequest" />
      <xs:element name="PackageIdSegmentDeactivationReply" type="ns:PackageIdSegmentDeactivationReply" />
      <xs:element name="PackageIdSegmentDeactivationRequest" type="ns:PackageIdSegmentDeactivationRequest" />
      <xs:element name="PackageIdSegmentReply" type="ns:PackageIdSegmentReply" />
      <xs:element name="PackageIdSegmentRequest" type="ns:PackageIdSegmentRequest" />
      <xs:element name="PackageIdSegmentUsageUpdateReply" type="ns:PackageIdSegmentUsageUpdateReply" />
      <xs:element name="PackageIdSegmentUsageUpdateRequest" type="ns:PackageIdSegmentUsageUpdateRequest" />
      <xs:element name="ParentAndChildMetersUpdateReply" type="ns:ParentAndChildMetersUpdateReply" />
      <xs:element name="ParentAndChildMetersUpdateRequest" type="ns:ParentAndChildMetersUpdateRequest" />
      <xs:element name="ProvideUploadLocationReply" type="ns:ProvideUploadLocationReply" />
      <xs:element name="ProvideUploadLocationRequest" type="ns:ProvideUploadLocationRequest" />
      <xs:element name="RegisterInternalUserReply" type="ns:RegisterInternalUserReply" />
      <xs:element name="RegisterInternalUserRequest" type="ns:RegisterInternalUserRequest" />
      <xs:element name="RegisterWebUserReply" type="ns:RegisterWebUserReply" />
      <xs:element name="RegisterWebUserRequest" type="ns:RegisterWebUserRequest" />
      <xs:element name="SubscriptionReply" type="ns:SubscriptionReply" />
      <xs:element name="SubscriptionRequest" type="ns:SubscriptionRequest" />
      <xs:element name="ValidateMeterReply" type="ns:ValidateMeterReply" />
      <xs:element name="ValidateMeterRequest" type="ns:ValidateMeterRequest" />
      <xs:element name="VersionCaptureReply" type="ns:VersionCaptureReply" />
      <xs:element name="VersionCaptureRequest" type="ns:VersionCaptureRequest" />
      <xs:complexType name="Address">
        <xs:annotation>
          <xs:documentation>Descriptive data for a physical location. May be used as an actual physical address (place to which one could go), or as a container of "address parts" which should be handled as a unit (such as a city-state-ZIP combination within the US).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="StreetLines" type="xs:string">
            <xs:annotation>
              <xs:documentation>Combination of number, street name, etc. At least one line is required for a valid physical address; empty lines should not be included.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="City" type="xs:string">
            <xs:annotation>
              <xs:documentation>Name of city, town, etc.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="StateOrProvinceCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifying abbreviation for US state, Canada province, etc. Format and presence of this field will vary, depending on country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PostalCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identification of a region (usually small) for mail/package delivery. Format and presence of this field will vary, depending on country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UrbanizationCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Relevant only to addresses in Puerto Rico.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="CountryCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>The two-letter code used to identify a country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CountryName" type="xs:string">
            <xs:annotation>
              <xs:documentation>The fully spelt out name of a country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Residential" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates whether this address residential (as opposed to commercial).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="AutoConfigurationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ENTERPRISE" />
          <xs:enumeration value="SHIPPING_SERVICE_PROVIDER" />
          <xs:enumeration value="SOFTWARE_ONLY" />
          <xs:enumeration value="TRADITIONAL" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CarrierCodeType">
        <xs:annotation>
          <xs:documentation>Identification of a FedEx operating company (transportation).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="FDXC" />
          <xs:enumeration value="FDXE" />
          <xs:enumeration value="FDXG" />
          <xs:enumeration value="FXCC" />
          <xs:enumeration value="FXFR" />
          <xs:enumeration value="FXSP" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ClientDetail">
        <xs:annotation>
          <xs:documentation>Descriptive data for the client submitting a transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>The FedEx account number associated with this transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="GroundShipperNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>The FedEx Ground account number.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MeterNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>This number is assigned by FedEx and identifies the unique device from which the request is originating</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MasterMeterNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>FedEx internal use only.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MeterInstance" type="xs:string">
            <xs:annotation>
              <xs:documentation>Used to identify an instance of meter (e.g. for backup purposes in an FXRS environment)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CompanyId" type="xs:string">
            <xs:annotation>
              <xs:documentation>FedEx internal use only. The PassKey company identifier.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SoftwareId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Client software component (e.g. "CAFE", "INET", "WBUS", etc.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SoftwareRelease" type="xs:string">
            <xs:annotation>
              <xs:documentation>Client software component version/revision (e.g. "1800", "2630", etc.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ClientProductId" type="xs:string">
            <xs:annotation>
              <xs:documentation>A FedEx assigned identifier for a third party software product used by customer to do business with FedEx. Such as a Compatible Solution Provider's product.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ClientProductVersion" type="xs:string">
            <xs:annotation>
              <xs:documentation>The version of the third party product.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MiddlewareProductId" type="xs:string">
            <xs:annotation>
              <xs:documentation>FedEx internal use only.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MiddlewareProductVersion" type="xs:string">
            <xs:annotation>
              <xs:documentation>FedEx internal use only.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="IntegratorId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Only used in transactions which require identification of the FedEx Office integrator.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Region" type="ns:ExpressRegionCode">
            <xs:annotation>
              <xs:documentation>Indicates the region from which the transaction is submitted.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="AutoConfigurationType" type="ns:AutoConfigurationType">
            <xs:annotation>
              <xs:documentation>Used for off-line uploads only.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Localization" type="ns:Localization">
            <xs:annotation>
              <xs:documentation>The language to be used for human-readable Notification.localizedMessages in responses to the request containing this ClientDetail object. Different requests from the same client may contain different Localization data. (Contrast with TransactionDetail.localization, which governs data payload language/translation.)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Contact">
        <xs:annotation>
          <xs:documentation>The descriptive data for a point-of-contact person.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Client provided identifier corresponding to this contact information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PersonName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the contact person's name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Title" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the contact person's title.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CompanyName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the company this contact is associated with.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PhoneNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the phone number associated with this contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PhoneExtension" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the phone extension associated with this contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TollFreePhoneNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies a toll free number, if any, associated with this contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PagerNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the pager number associated with this contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="FaxNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the fax number associated with this contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="EMailAddress" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the email address associated with this contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ContactAndAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="Contact" type="ns:Contact" />
          <xs:element minOccurs="0" name="Address" type="ns:Address" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="CspType">
        <xs:annotation>
          <xs:documentation>Identifies the set of available FedEx Custom Solution Provider types.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CERTIFIED_SOLUTION_PROVIDER" />
          <xs:enumeration value="CLIENT_SERVER" />
          <xs:enumeration value="DOT_NET_CLIENT_SERVER" />
          <xs:enumeration value="DOT_NET_PROPRIETARY" />
          <xs:enumeration value="DOT_NET_SOFTWARE_ONLY" />
          <xs:enumeration value="ENTERPRISE" />
          <xs:enumeration value="HTML_WEB_SERVICES_TOOL" />
          <xs:enumeration value="MOBI_JAVA" />
          <xs:enumeration value="MOBI_WINDOWS" />
          <xs:enumeration value="OUTLOOK_2003_PLUGIN" />
          <xs:enumeration value="OUTLOOK_2007_PLUGIN" />
          <xs:enumeration value="SOFTWARE_ONLY" />
          <xs:enumeration value="TRADITIONAL_API" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CustomerReferenceType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="BILL_OF_LADING" />
          <xs:enumeration value="CUSTOMER_REFERENCE" />
          <xs:enumeration value="DEPARTMENT_NUMBER" />
          <xs:enumeration value="ELECTRONIC_PRODUCT_CODE" />
          <xs:enumeration value="INTRACOUNTRY_REGULATORY_REFERENCE" />
          <xs:enumeration value="INVOICE_NUMBER" />
          <xs:enumeration value="PACKING_SLIP_NUMBER" />
          <xs:enumeration value="P_O_NUMBER" />
          <xs:enumeration value="RMA_ASSOCIATION" />
          <xs:enumeration value="SHIPMENT_INTEGRITY" />
          <xs:enumeration value="STORE_NUMBER" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="DownloadComponentType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CANADA_RATES" />
          <xs:enumeration value="CONFIGURATION" />
          <xs:enumeration value="DOMESTIC_RATES" />
          <xs:enumeration value="INTERNATIONAL_RATES" />
          <xs:enumeration value="TRACKING_NUMBER_RANGE" />
          <xs:enumeration value="URSA" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ExpressRegionCode">
        <xs:annotation>
          <xs:documentation>Indicates a FedEx Express operating region.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="APAC" />
          <xs:enumeration value="CA" />
          <xs:enumeration value="EMEA" />
          <xs:enumeration value="LAC" />
          <xs:enumeration value="US" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="GroupReferenceDetail">
        <xs:annotation>
          <xs:documentation>Specification of multiplier grouping data per carrier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="CarrierCode" type="ns:CarrierCodeType">
            <xs:annotation>
              <xs:documentation>Identifies which carrier is being described.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Reference" type="ns:CustomerReferenceType">
            <xs:annotation>
              <xs:documentation>Specifies which reference field is to be used for multiplier grouping.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InitiativeManifest">
        <xs:annotation>
          <xs:documentation>Represents a transaction-specific set of initiative control data for all services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Content" type="xs:string">
            <xs:annotation>
              <xs:documentation>Compressed data representing status of initiatives per domain and service.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Localization">
        <xs:annotation>
          <xs:documentation>Identifies the representation of human-readable text.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="LanguageCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Two-letter code for language (e.g. EN, FR, etc.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="LocaleCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Two-letter code for the region (e.g. us, ca, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MeterAutoConfigurationReply">
        <xs:sequence>
          <xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Notifications" type="ns:Notification" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" name="ContactAndAddress" type="ns:ContactAndAddress" />
          <xs:element minOccurs="0" name="DropShipContactAndAddress" type="ns:ContactAndAddress" />
          <xs:element minOccurs="0" name="ShippingCycle" type="xs:string" />
          <xs:element minOccurs="0" name="MeterDetail" type="ns:MeterDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MeterAutoConfigurationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="ClientDetail" type="ns:ClientDetail" />
          <xs:element minOccurs="0" name="UserDetail" type="ns:UserDetail" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" name="CspType" type="ns:CspType" />
          <xs:element minOccurs="0" name="Master" type="xs:boolean" />
          <xs:element minOccurs="0" name="DropShipAddress" type="ns:Address" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MeterAutoConfigurationStatusReply">
        <xs:sequence>
          <xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Notifications" type="ns:Notification" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MeterAutoConfigurationStatusRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="ClientDetail" type="ns:ClientDetail" />
          <xs:element minOccurs="0" name="UserDetail" type="ns:UserDetail" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Status" type="ns:DownloadComponentType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MeterDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="MeterNumber" type="xs:string" />
          <xs:element minOccurs="0" name="GroundShipperNumber" type="xs:string" />
          <xs:element minOccurs="0" name="EpdiCode" type="xs:string" />
          <xs:element minOccurs="0" name="ReconcileTime" type="xs:time">
            <xs:annotation>
              <xs:documentation>Time of day at which this meter should reconcile; assigned during registration to spread activity over the available window.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="GroundTrackingNumberStart" type="xs:string" />
          <xs:element minOccurs="0" name="GroundTrackingNumberEnd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MeterSpecification">
        <xs:annotation>
          <xs:documentation>MeterSpecification</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="Number" type="xs:string">
            <xs:annotation>
              <xs:documentation>Specifies the meter number.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="AccountNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Specifies the account number that this meter is associated with.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CspType" type="ns:CspType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Notification">
        <xs:annotation>
          <xs:documentation>The descriptive data regarding the result of the submitted transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="Severity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>The severity of this notification. This can indicate success or failure or some other information about the request. The values that can be returned are SUCCESS - Your transaction succeeded with no other applicable information. NOTE - Additional information that may be of interest to you about your transaction. WARNING - Additional information that you need to know about your transaction that you may need to take action on. ERROR - Information about an error that occurred while processing your transaction. FAILURE - FedEx was unable to process your transaction at this time due to a system failure. Please try again later</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Source" type="xs:string">
            <xs:annotation>
              <xs:documentation>Indicates the source of this notification. Combined with the Code it uniquely identifies this notification</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Code" type="xs:string">
            <xs:annotation>
              <xs:documentation>A code that represents this notification. Combined with the Source it uniquely identifies this notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Message" type="xs:string">
            <xs:annotation>
              <xs:documentation>Human-readable text that explains this notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="LocalizedMessage" type="xs:string">
            <xs:annotation>
              <xs:documentation>The translated message. The language and locale specified in the ClientDetail. Localization are used to determine the representation. Currently only supported in a TrackReply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageParameters" type="ns:NotificationParameter">
            <xs:annotation>
              <xs:documentation>A collection of name/value pairs that provide specific data to help the client determine the nature of an error (or warning, etc.) witout having to parse the message string.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NotificationParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the type of data contained in Value (e.g. SERVICE_TYPE, PACKAGE_SEQUENCE, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Value" type="xs:string">
            <xs:annotation>
              <xs:documentation>The value of the parameter (e.g. PRIORITY_OVERNIGHT, 2, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="NotificationSeverityType">
        <xs:annotation>
          <xs:documentation>Identifies the set of severity values for a Notification.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR" />
          <xs:enumeration value="FAILURE" />
          <xs:enumeration value="NOTE" />
          <xs:enumeration value="SUCCESS" />
          <xs:enumeration value="WARNING" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="PackageIdRangeType">
        <xs:annotation>
          <xs:documentation>Identifies the kind of package ID range.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="EXPRESS" />
          <xs:enumeration value="FREIGHT" />
          <xs:enumeration value="GROUND" />
          <xs:enumeration value="INTERNAL" />
          <xs:enumeration value="SMART_POST_IMPB" />
          <xs:enumeration value="SMART_POST_LEGACY" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="PackageIdSegmentDeactivationReply">
        <xs:sequence>
          <xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Notifications" type="ns:Notification" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PackageIdSegmentDeactivationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ClientDetail" type="ns:ClientDetail" />
          <xs:element minOccurs="0" name="UserDetail" type="ns:UserDetail" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" name="DateOfDeActivation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SmartPostReturnAccountNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Return-eligible account must be provided for SmartPost segment processing.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SegmentDetail" type="ns:SegmentDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PackageIdSegmentReply">
        <xs:sequence>
          <xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Notifications" type="ns:Notification" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Segments" type="ns:SegmentDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PackageIdSegmentRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ClientDetail" type="ns:ClientDetail" />
          <xs:element minOccurs="0" name="UserDetail" type="ns:UserDetail" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" name="SmartPostReturnAccountNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Return-eligible account must be provided for SmartPost segment processing.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SegmentSpecifications" type="ns:PackageIdSegmentSpecification" />
          <xs:element minOccurs="0" name="ServiceLevel" type="ns:PackageIdSegmentRequestServiceLevel" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="PackageIdSegmentRequestServiceLevel">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DO_NOT_VALIDATE_ACCOUNT_METER" />
          <xs:enumeration value="VALIDATE_ACCOUNT_METER" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="PackageIdSegmentSpecification">
        <xs:annotation>
          <xs:documentation>Specifies the characteristics of an individual segment of tracking numbers.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="RangeType" type="ns:PackageIdRangeType" />
          <xs:element minOccurs="0" name="RangeQualifier" type="ns:RangeQualifierType" />
          <xs:element minOccurs="0" name="SegmentType" type="ns:SegmentType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PackageIdSegmentUsageUpdateReply">
        <xs:sequence>
          <xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Notifications" type="ns:Notification" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PackageIdSegmentUsageUpdateRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ClientDetail" type="ns:ClientDetail" />
          <xs:element minOccurs="0" name="UserDetail" type="ns:UserDetail" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" name="SmartPostReturnAccountNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Return-eligible account must be provided for SmartPost segment processing.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Segments" type="ns:SegmentDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParentAndChildMetersUpdateReply">
        <xs:sequence>
          <xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Notifications" type="ns:Notification" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParentAndChildMetersUpdateRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="ClientDetail" type="ns:ClientDetail" />
          <xs:element minOccurs="0" name="UserDetail" type="ns:UserDetail" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" name="ParentMeterSpecification" type="ns:ParentMeterSpecification">
            <xs:annotation>
              <xs:documentation>Speficies the details about the parent meter and the associated child meters.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParentMeterSpecification">
        <xs:sequence>
          <xs:element minOccurs="0" name="MeterSpecification" type="ns:MeterSpecification">
            <xs:annotation>
              <xs:documentation>Specifies the details for this parent meter.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="NumberOfChildMeters" type="xs:nonNegativeInteger">
            <xs:annotation>
              <xs:documentation>Specifies the number of child meters that are linked to this meter.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ChildMeters" type="ns:MeterSpecification">
            <xs:annotation>
              <xs:documentation>Specifies the details for every child meter linked to this parent meter.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParsedContact">
        <xs:annotation>
          <xs:documentation>This type contains equivalent data to Contact, but uses a form of person name with separate first and last names.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonName" type="ns:ParsedPersonName">
            <xs:annotation>
              <xs:documentation>User's first and last name</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Title" type="xs:string">
            <xs:annotation>
              <xs:documentation>Title of the User where he is working.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CompanyName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Name of the company where this User is working in.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PhoneNumberCountryCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Specifies the country code to be dialled when calling the phone number listed as a part of the contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PhoneNumberAreaCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Specifies the area code of the phone number listed as a part of the contact.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PhoneNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Contact Number of this User</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PhoneExtension" type="xs:string" />
          <xs:element minOccurs="0" name="PagerNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Pager Number of this User</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="FaxNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Fax Number of this User</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="EMailAddress" type="xs:string">
            <xs:annotation>
              <xs:documentation>Email Address of this User</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParsedContactAndAddress">
        <xs:annotation>
          <xs:documentation>This type contains equivalent data to ContactAndAddress, but uses a form of person name with separate first, middle and last names.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="Contact" type="ns:ParsedContact">
            <xs:annotation>
              <xs:documentation>Contact details with separate first and last names.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Address" type="ns:Address">
            <xs:annotation>
              <xs:documentation>Descriptive data for a physical location.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParsedPersonName">
        <xs:annotation>
          <xs:documentation>The descriptive data for a person's name broken out into individual name elements such as first name, last name.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="Prefix" type="xs:string">
            <xs:annotation>
              <xs:documentation>Specifies the salutation part of the name, if any is specified. Examples of prefix: Sir, Madam, Monsieur.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Title" type="xs:string">
            <xs:annotation>
              <xs:documentation>Specifies the professional title in the person name, if any is specified.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="FirstName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Contact first name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MiddleName" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Contact last name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Suffix" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the contact person's name suffix.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Party">
        <xs:annotation>
          <xs:documentation>The descriptive data for a person or company entity doing business with FedEx.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the FedEx account number assigned to the customer.</xs:documentation>
              <xs:appinfo>
                <xs:MaxLength>12</xs:MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Tins" type="ns:TaxpayerIdentification" />
          <xs:element minOccurs="0" name="Contact" type="ns:Contact">
            <xs:annotation>
              <xs:documentation>Descriptive data identifying the point-of-contact person.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Address" type="ns:Address">
            <xs:annotation>
              <xs:documentation>The descriptive data for a physical location.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="PeripheralType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CUSTOMER_PRINTER" />
          <xs:enumeration value="NONE" />
          <xs:enumeration value="PREINSTALLED" />
          <xs:enumeration value="SOFTWARE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ProvideUploadLocationReply">
        <xs:sequence>
          <xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Notifications" type="ns:Notification" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="UploadLocationDetails" type="ns:UploadLocationDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProvideUploadLocationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="ClientDetail" type="ns:ClientDetail" />
          <xs:element minOccurs="0" name="UserDetail" type="ns:UserDetail" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" name="ServiceLevel" type="ns:ProvideUploadLocationServiceLevel" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestedTypes" type="ns:UploadType" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ProvideUploadLocationServiceLevel">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR_ON_VALIDATION_ERROR" />
          <xs:enumeration value="WARN_ON_VALIDATION_ERROR" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RangeQualifierType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="GROUND_PICKUP" />
          <xs:enumeration value="RETURN" />
          <xs:enumeration value="SMART_POST_PICKUP" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="RegisterInternalUserReply">
        <xs:sequence>
          <xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Notifications" type="ns:Notification" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" name="UserCredential" type="ns:WebAuthenticationCredential" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisterInternalUserRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UserDetail" type="ns:UserDetail" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="Version" type="ns:VersionId">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Environment" type="ns:WebServiceEnvironment">
            <xs:annotation>
              <xs:documentation>This field is added by the ESB, based on where the request is submitted.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ParentCredential" type="ns:WebAuthenticationCredential" />
          <xs:element minOccurs="0" name="SecurityToken" type="xs:string">
            <xs:annotation>
              <xs:documentation>FEDEX INTERNAL USE ONLY: with FedEx installed clients for enhanced security.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Categories" type="ns:WebServiceCategoryType">
            <xs:annotation>
              <xs:documentation>List (array) of all categories for which the requester wishes to register.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BillingAddress" type="ns:Address">
            <xs:annotation>
              <xs:documentation>This address must match the account number in the ClientDetail, as confirmation that this request is legitimate.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UserContactAndAddress" type="ns:ParsedContactAndAddress">
            <xs:annotation>
              <xs:documentation>Contact and address data for this specific installation of the CSP's software, using separate first and last name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SecondaryEmail" type="xs:string">
            <xs:annotation>
              <xs:documentation>Alternate means of contacting someone for this installation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisterWebUserReply">
        <xs:sequence>
          <xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Notifications" type="ns:Notification" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" name="UserCredential" type="ns:WebAuthenticationCredential" />
          <xs:element minOccurs="0" name="ClientProductId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisterWebUserRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ClientDetail" type="ns:ClientDetail" />
          <xs:element minOccurs="0" name="UserDetail" type="ns:UserDetail" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" name="Environment" type="ns:WebServiceEnvironment">
            <xs:annotation>
              <xs:documentation>This field is added by the ESB, based on where the request is submitted.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ParentCredential" type="ns:WebAuthenticationCredential" />
          <xs:element minOccurs="0" name="SecurityToken" type="xs:string">
            <xs:annotation>
              <xs:documentation>FEDEX INTERNAL USE ONLY: with FedEx installed clients for enhanced security.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Categories" type="ns:WebServiceCategoryType">
            <xs:annotation>
              <xs:documentation>List (array) of all categories for which the requester wishes to register.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ShippingAddress" type="ns:Address">
            <xs:annotation>
              <xs:documentation>This address must match the account number in the ClientDetail, as confirmation that this request is legitimate.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UserContactAndAddress" type="ns:ParsedContactAndAddress">
            <xs:annotation>
              <xs:documentation>Contact and address data for this specific installation of the CSP's software, using separate first and last name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SecondaryEmail" type="xs:string">
            <xs:annotation>
              <xs:documentation>Alternate means of contacting someone for this installation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SegmentDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="SegmentSpecification" type="ns:PackageIdSegmentSpecification" />
          <xs:element minOccurs="0" name="BeginPackageIdSegment" type="xs:string" />
          <xs:element minOccurs="0" name="EndPackageIdSegment" type="xs:string" />
          <xs:element minOccurs="0" name="LastUsedPackageId" type="xs:string" />
          <xs:element minOccurs="0" name="LastUsedTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastRollTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="SegmentType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CURRENT" />
          <xs:enumeration value="FUTURE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="SubscriptionReply">
        <xs:annotation>
          <xs:documentation>The descriptive data returned for a FedEx Web Services SubscriptionRequest to register a customer's account. A unique meter number specific to the customer's FedEx account number is returned to the client. The meter number should be used in all subsequent requests sent to FedEx Web Services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Notifications" type="ns:Notification">
            <xs:annotation>
              <xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="Version" type="ns:VersionId">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MeterDetail" type="ns:MeterDetail" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RegisteredServices" type="ns:SubscriptionServiceType">
            <xs:annotation>
              <xs:documentation>Identifies the FedEx shipping service type(s) that the caller has been registered to use.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubscriptionRequest">
        <xs:annotation>
          <xs:documentation>The descriptive data sent by the customer to register to use FedEx Web Services. This is a one-time only request to register the customer's FedEx account. A unique meter number specific to the customer's FedEx account number will be returned to the client. The meter number should be used in all subsequent requests sent to FedEx web services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UserDetail" type="ns:UserDetail" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="Version" type="ns:VersionId">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ServiceLevel" type="ns:SubscriptionRequestServiceLevel" />
          <xs:element minOccurs="0" name="CspSolutionId" type="xs:string">
            <xs:annotation>
              <xs:documentation>A unique identifier assigned to CSPs by FedEx</xs:documentation>
              <xs:appinfo>
                <xs:MaxLength>3</xs:MaxLength>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CspType" type="ns:CspType">
            <xs:annotation>
              <xs:documentation>If the FedEx Web Services caller is a CSP, set this element to one of the values associated with CspType.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Subscriber" type="ns:Party">
            <xs:annotation>
              <xs:documentation>The descriptive data element that provides information about the party initiating the subscription request to FedEx Web Services.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="AccountShippingAddress" type="ns:Address">
            <xs:annotation>
              <xs:documentation>The descriptive data for the physical shipping address for the account.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PeripheralType" type="ns:PeripheralType" />
          <xs:element minOccurs="0" name="Master" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProductKey" type="xs:string">
            <xs:annotation>
              <xs:documentation>Specifies the productt key used for client software only validation prior to meter number generation. As of Jan 2012 load, this product key is used only for CAFE devices.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="SubscriptionRequestServiceLevel">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DO_NOT_VALIDATE_ACCOUNT" />
          <xs:enumeration value="VALIDATE_ACCOUNT" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="SubscriptionServiceType">
        <xs:annotation>
          <xs:documentation>Identifies the set of available FedEx shipping services that a client can be registered to use.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="EXPRESS_SHIPPING" />
          <xs:enumeration value="GROUND_SHIPPING" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="TaxpayerIdentification">
        <xs:sequence>
          <xs:element minOccurs="0" name="TinType" type="ns:TinType" />
          <xs:element minOccurs="0" name="Number" type="xs:string" />
          <xs:element minOccurs="0" name="Usage" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the usage of Tax Identification Number in Shipment processing</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="TinType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="BUSINESS_NATIONAL" />
          <xs:enumeration value="BUSINESS_STATE" />
          <xs:enumeration value="PERSONAL_NATIONAL" />
          <xs:enumeration value="PERSONAL_STATE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="TransactionDetail">
        <xs:annotation>
          <xs:documentation>Descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerTransactionId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Free form text to be echoed back in the reply. Used to match requests and replies.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Localization" type="ns:Localization">
            <xs:annotation>
              <xs:documentation>Governs data payload language/translations (contrasted with ClientDetail.localization, which governs Notification.localizedMessage language selection).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="InternalTransactionId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Unique identifier assigned/forwarded by internal FAST services only, to associate service transactions comprising a single business work unit.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Tracing" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Each FAST service should log request/reply pairs for any transaction in which this attribute is true. This is for internal use only (capturing transaction data for diagnostic purposes).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SourceFormat" type="ns:TransactionSourceFormat">
            <xs:annotation>
              <xs:documentation>Indicates the format in which the transaction was presented to FedEx, used to help identify error-translation context.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Environment" type="ns:WebServiceEnvironment">
            <xs:annotation>
              <xs:documentation>Identifies the environment (level) in which the current transaction should be processed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="TransactionSourceFormat">
        <xs:restriction base="xs:string">
          <xs:enumeration value="API_CTS" />
          <xs:enumeration value="API_XML" />
          <xs:enumeration value="DIRECT" />
          <xs:enumeration value="DIRECT_XML" />
          <xs:enumeration value="FXRS_CTS" />
          <xs:enumeration value="UNKNOWN" />
          <xs:enumeration value="WSI_XML" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="UploadLocationDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="UploadType" type="ns:UploadType" />
          <xs:element minOccurs="0" name="Domain" type="xs:string" />
          <xs:element minOccurs="0" name="Filepath" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="UploadType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="HOURLY_UPLOAD_FILE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="UserDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserId" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
          <xs:element minOccurs="0" name="UniqueUserId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValidateMeterDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="SysType" type="xs:string" />
          <xs:element minOccurs="0" name="NoUploadNoShip" type="xs:boolean" />
          <xs:element minOccurs="0" name="RevenueUploadPath" type="xs:string">
            <xs:annotation>
              <xs:documentation>Controls the path for Express revenue upload, based on data from FedExShip customer table.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TransborderDropOffLocationId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Specifies the default drop off location for a transborder shipment created using this meter specification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupReferenceDetails" type="ns:GroupReferenceDetail">
            <xs:annotation>
              <xs:documentation>Per-carrier specifications for which reference fields are to be used for multiplier grouping for this customer.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValidateMeterReply">
        <xs:annotation>
          <xs:documentation>FedEx Validate Meter reply.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Notifications" type="ns:Notification">
            <xs:annotation>
              <xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="Version" type="ns:VersionId">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ValidateMeterDetail" type="ns:ValidateMeterDetail" />
          <xs:element minOccurs="0" name="Manifest" type="ns:InitiativeManifest">
            <xs:annotation>
              <xs:documentation>Initiative control data for the current client transaction's client detail.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValidateMeterRequest">
        <xs:annotation>
          <xs:documentation>FedEx Validate Meter request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UserDetail" type="ns:UserDetail" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="Version" type="ns:VersionId">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ReturnInitiativeControlManifest" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VersionCaptureReply">
        <xs:annotation>
          <xs:documentation>FedEx SSP Version Capture reply.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Notifications" type="ns:Notification">
            <xs:annotation>
              <xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="Version" type="ns:VersionId">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VersionCaptureRequest">
        <xs:annotation>
          <xs:documentation>FedEx SSP Version Capture request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="ClientDetail" type="ns:ClientDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UserDetail" type="ns:UserDetail" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail">
            <xs:annotation>
              <xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="Version" type="ns:VersionId">
            <xs:annotation>
              <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="OriginLocationId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Obtained by sending a Zip inquiry transaction</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="VendorProductPlatform" type="xs:string">
            <xs:annotation>
              <xs:documentation>Vendor product platform.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="WebServiceCategoryType">
        <xs:annotation>
          <xs:documentation>Classification of web services by major business functions.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="OFFICE_AND_PRINT" />
          <xs:enumeration value="SHIPPING" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="WebServiceEnvironment">
        <xs:annotation>
          <xs:documentation>Identifies the environment (level) for which an AuthenticationCredential is valid, and within which transactions are received.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="PRODUCTION" />
          <xs:enumeration value="TEST" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="WebAuthenticationDetail">
        <xs:annotation>
          <xs:documentation>Used in authentication of the sender's identity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="ParentCredential" type="ns:WebAuthenticationCredential">
            <xs:annotation>
              <xs:documentation>This was renamed from cspCredential.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UserCredential" type="ns:WebAuthenticationCredential">
            <xs:annotation>
              <xs:documentation>Credential used to authenticate a specific software application. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WebAuthenticationCredential">
        <xs:annotation>
          <xs:documentation>Two part authentication string used for the sender's identity</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="Key" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifying part of authentication credential. This value is provided by FedEx after registration</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="Password" type="xs:string">
            <xs:annotation>
              <xs:documentation>Secret part of authentication key. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VersionId">
        <xs:annotation>
          <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" fixed="fcas" name="ServiceId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies a system or sub-system which performs an operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" fixed="7" name="Major" type="xs:int">
            <xs:annotation>
              <xs:documentation>Identifies the service business level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" fixed="0" name="Intermediate" type="xs:int">
            <xs:annotation>
              <xs:documentation>Identifies the service interface level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" fixed="0" name="Minor" type="xs:int">
            <xs:annotation>
              <xs:documentation>Identifies the service code level.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="SubscriptionRequest">
    <part name="SubscriptionRequest" element="ns:SubscriptionRequest" />
  </message>
  <message name="PackageIdSegmentDeactivationRequest">
    <part name="PackageIdSegmentDeactivationRequest" element="ns:PackageIdSegmentDeactivationRequest" />
  </message>
  <message name="MeterAutoConfigurationRequest">
    <part name="MeterAutoConfigurationRequest" element="ns:MeterAutoConfigurationRequest" />
  </message>
  <message name="RegisterWebUserRequest">
    <part name="RegisterWebUserRequest" element="ns:RegisterWebUserRequest" />
  </message>
  <message name="VersionCaptureRequest">
    <part name="VersionCaptureRequest" element="ns:VersionCaptureRequest" />
  </message>
  <message name="RegisterInternalUserRequest">
    <part name="RegisterInternalUserRequest" element="ns:RegisterInternalUserRequest" />
  </message>
  <message name="ParentAndChildMetersUpdateRequest">
    <part name="ParentAndChildMetersUpdateRequest" element="ns:ParentAndChildMetersUpdateRequest" />
  </message>
  <message name="PackageIdSegmentDeactivationReply">
    <part name="PackageIdSegmentDeactivationReply" element="ns:PackageIdSegmentDeactivationReply" />
  </message>
  <message name="PackageIdSegmentReply">
    <part name="PackageIdSegmentReply" element="ns:PackageIdSegmentReply" />
  </message>
  <message name="PackageIdSegmentUsageUpdateRequest">
    <part name="PackageIdSegmentUsageUpdateRequest" element="ns:PackageIdSegmentUsageUpdateRequest" />
  </message>
  <message name="RegisterWebUserReply">
    <part name="RegisterWebUserReply" element="ns:RegisterWebUserReply" />
  </message>
  <message name="MeterAutoConfigurationReply">
    <part name="MeterAutoConfigurationReply" element="ns:MeterAutoConfigurationReply" />
  </message>
  <message name="PackageIdSegmentRequest">
    <part name="PackageIdSegmentRequest" element="ns:PackageIdSegmentRequest" />
  </message>
  <message name="ValidateMeterRequest">
    <part name="ValidateMeterRequest" element="ns:ValidateMeterRequest" />
  </message>
  <message name="SubscriptionReply">
    <part name="SubscriptionReply" element="ns:SubscriptionReply" />
  </message>
  <message name="RegisterInternalUserReply">
    <part name="RegisterInternalUserReply" element="ns:RegisterInternalUserReply" />
  </message>
  <message name="VersionCaptureReply">
    <part name="VersionCaptureReply" element="ns:VersionCaptureReply" />
  </message>
  <message name="ParentAndChildMetersUpdateReply">
    <part name="ParentAndChildMetersUpdateReply" element="ns:ParentAndChildMetersUpdateReply" />
  </message>
  <message name="PackageIdSegmentUsageUpdateReply">
    <part name="PackageIdSegmentUsageUpdateReply" element="ns:PackageIdSegmentUsageUpdateReply" />
  </message>
  <message name="ProvideUploadLocationRequest">
    <part name="ProvideUploadLocationRequest" element="ns:ProvideUploadLocationRequest" />
  </message>
  <message name="MeterAutoConfigurationStatusRequest">
    <part name="MeterAutoConfigurationStatusRequest" element="ns:MeterAutoConfigurationStatusRequest" />
  </message>
  <message name="ValidateMeterReply">
    <part name="ValidateMeterReply" element="ns:ValidateMeterReply" />
  </message>
  <message name="ProvideUploadLocationReply">
    <part name="ProvideUploadLocationReply" element="ns:ProvideUploadLocationReply" />
  </message>
  <message name="MeterAutoConfigurationStatusReply">
    <part name="MeterAutoConfigurationStatusReply" element="ns:MeterAutoConfigurationStatusReply" />
  </message>
  <portType name="RegistrationPortType">
    <operation name="provideUploadLocation" parameterOrder="ProvideUploadLocationRequest">
      <input message="ns:ProvideUploadLocationRequest" />
      <output message="ns:ProvideUploadLocationReply" />
    </operation>
    <operation name="packageIdSegmentDeactivation" parameterOrder="PackageIdSegmentDeactivationRequest">
      <input message="ns:PackageIdSegmentDeactivationRequest" />
      <output message="ns:PackageIdSegmentDeactivationReply" />
    </operation>
    <operation name="validateAccountMeter" parameterOrder="ValidateMeterRequest">
      <input message="ns:ValidateMeterRequest" />
      <output message="ns:ValidateMeterReply" />
    </operation>
    <operation name="registerWebUser" parameterOrder="RegisterWebUserRequest">
      <input message="ns:RegisterWebUserRequest" />
      <output message="ns:RegisterWebUserReply" />
    </operation>
    <operation name="packageIdSegmentUsageUpdate" parameterOrder="PackageIdSegmentUsageUpdateRequest">
      <input message="ns:PackageIdSegmentUsageUpdateRequest" />
      <output message="ns:PackageIdSegmentUsageUpdateReply" />
    </operation>
    <operation name="meterAutoConfigurationStatus" parameterOrder="MeterAutoConfigurationStatusRequest">
      <input message="ns:MeterAutoConfigurationStatusRequest" />
      <output message="ns:MeterAutoConfigurationStatusReply" />
    </operation>
    <operation name="updateParentAndChildMeters" parameterOrder="ParentAndChildMetersUpdateRequest">
      <input message="ns:ParentAndChildMetersUpdateRequest" />
      <output message="ns:ParentAndChildMetersUpdateReply" />
    </operation>
    <operation name="meterAutoConfiguration" parameterOrder="MeterAutoConfigurationRequest">
      <input message="ns:MeterAutoConfigurationRequest" />
      <output message="ns:MeterAutoConfigurationReply" />
    </operation>
    <operation name="versionCapture" parameterOrder="VersionCaptureRequest">
      <input message="ns:VersionCaptureRequest" />
      <output message="ns:VersionCaptureReply" />
    </operation>
    <operation name="packageIdSegment" parameterOrder="PackageIdSegmentRequest">
      <input message="ns:PackageIdSegmentRequest" />
      <output message="ns:PackageIdSegmentReply" />
    </operation>
    <operation name="registerInternalUser" parameterOrder="RegisterInternalUserRequest">
      <input message="ns:RegisterInternalUserRequest" />
      <output message="ns:RegisterInternalUserReply" />
    </operation>
    <operation name="subscription" parameterOrder="SubscriptionRequest">
      <input message="ns:SubscriptionRequest" />
      <output message="ns:SubscriptionReply" />
    </operation>
  </portType>
  <binding name="RegistrationServiceSoapBinding" type="ns:RegistrationPortType">
    <s1:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="provideUploadLocation">
      <s1:operation soapAction="http://fedex.com/ws/registration/v7/provideUploadLocation" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="packageIdSegmentDeactivation">
      <s1:operation soapAction="http://fedex.com/ws/registration/v7/packageIdSegmentDeactivation" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="validateAccountMeter">
      <s1:operation soapAction="http://fedex.com/ws/registration/v7/validateAccountMeter" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="registerWebUser">
      <s1:operation soapAction="http://fedex.com/ws/registration/v7/registerWebUser" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="packageIdSegmentUsageUpdate">
      <s1:operation soapAction="http://fedex.com/ws/registration/v7/packageIdSegmentUsageUpdate" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="meterAutoConfigurationStatus">
      <s1:operation soapAction="http://fedex.com/ws/registration/v7/meterAutoConfigurationStatus" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="updateParentAndChildMeters">
      <s1:operation soapAction="http://fedex.com/ws/registration/v7/updateParentAndChildMeters" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="meterAutoConfiguration">
      <s1:operation soapAction="http://fedex.com/ws/registration/v7/meterAutoConfiguration" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="versionCapture">
      <s1:operation soapAction="http://fedex.com/ws/registration/v7/versionCapture" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="packageIdSegment">
      <s1:operation soapAction="http://fedex.com/ws/registration/v7/packageIdSegment" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="registerInternalUser">
      <s1:operation soapAction="http://fedex.com/ws/registration/v7/registerInternalUser" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="subscription">
      <s1:operation soapAction="http://fedex.com/ws/registration/v7/subscription" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RegistrationService">
    <port name="RegistrationServicePort" binding="ns:RegistrationServiceSoapBinding">
      <s1:address location="https://wsbeta.fedex.com:443/web-services" />
    </port>
  </service>
</definitions>