Code/ShipWorks.ThirdPartyApi/Web References/Shipping.Carriers.UPS.OnLineTools.WebServices.Registration/RegisterNAccountMgrSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.ups.com/XMLSchema/XOLTWS/Registration/v2.0" xmlns:ups="http://www.ups.com/XMLSchema" xmlns:common="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" xmlns:reg="http://www.ups.com/XMLSchema/XOLTWS/Registration/v2.0" elementFormDefault="qualified" targetNamespace="http://www.ups.com/XMLSchema/XOLTWS/Registration/v2.0" version="201601" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="common.xsd" namespace="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" />
  <xsd:element name="RegisterRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="common:Request" />
        <xsd:element name="Username" type="xsd:string" />
        <xsd:element name="Password" type="xsd:string" />
        <xsd:element name="CompanyName" type="xsd:string" />
        <xsd:element name="CustomerName" type="xsd:string" />
        <xsd:element minOccurs="0" name="Title" type="xsd:string" />
        <xsd:element name="Address" type="reg:AddressType" />
        <xsd:element name="PhoneNumber" type="xsd:string" />
        <xsd:element minOccurs="0" name="PhoneExtension" type="xsd:string" />
        <xsd:element name="EmailAddress" type="xsd:string" />
        <xsd:element name="EndUserIPAddress" type="xsd:string" />
        <xsd:element name="NotificationCode" type="xsd:string" />
        <xsd:element minOccurs="0" name="AccountStatusCheckRequired" type="xsd:string" />
        <xsd:element minOccurs="0" name="ShipperAccount" type="reg:ShipperAccountType" />
        <xsd:element minOccurs="0" name="DeviceIdentity" type="xsd:string" />
        <xsd:element name="SuggestUsernameIndicator" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ManageAccountRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="common:Request" />
        <xsd:element minOccurs="0" name="Username" type="xsd:string" />
        <xsd:element minOccurs="0" name="Password" type="xsd:string" />
        <xsd:element minOccurs="0" name="AccountStatusCheckRequired" type="xsd:string" />
        <xsd:element name="ShipperAccount" type="reg:ShipperAccountType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RegisterResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="common:Response" />
        <xsd:element minOccurs="0" name="SuggestedUsername" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="ShipperAccountStatus" type="reg:RegCodeDescriptionType" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="Disclaimer" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ManageAccountResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="common:Response" />
        <xsd:element maxOccurs="unbounded" name="ShipperAccountStatus" type="reg:RegCodeDescriptionType" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="Disclaimer" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RegCodeDescriptionType">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string" />
      <xsd:element minOccurs="0" name="Description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="AddressLine" type="xsd:string" />
      <xsd:element name="City" type="xsd:string" />
      <xsd:element name="StateProvinceCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="PostalCode" type="xsd:string" />
      <xsd:element name="CountryCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShipperAccountType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AccountName" type="xsd:string" />
      <xsd:element name="AccountNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="PostalCode" type="xsd:string" />
      <xsd:element name="CountryCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="InvoiceInfo" type="reg:InvoiceInfoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InvoiceInfoType">
    <xsd:sequence>
      <xsd:element name="InvoiceNumber" type="xsd:string" />
      <xsd:element name="InvoiceDate" type="xsd:string" />
      <xsd:element name="CurrencyCode" type="xsd:string" />
      <xsd:element name="InvoiceAmount" type="xsd:string" />
      <xsd:element minOccurs="0" name="ControlID" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>