Code/ShipWorks/Web References/Stores.Platforms.Infopia.WebServices/InfopiaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://com/infopia/webservices/2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://com.infopia.webservices/types/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://com/infopia/webservices/2" name="InfopiaService" targetNamespace="http://com/infopia/webservices/2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="InfopiaTypesV2.xsd" namespace="http://com.infopia.webservices/types/2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetAvailableExportHeadersRequest">
    <wsdl:part name="GetAvailableExportHeadersRequest" element="ns1:GetAvailableExportHeadersRequest" />
  </wsdl:message>
  <wsdl:message name="GetAvailableExportHeadersResponse">
    <wsdl:part name="GetAvailableExportHeadersResponse" element="ns1:HeadersResponseWrapper" />
  </wsdl:message>
  <wsdl:message name="GetAvailableImportHeadersRequest">
    <wsdl:part name="GetAvailableImportHeadersRequest" element="ns1:GetAvailableImportHeadersRequest" />
  </wsdl:message>
  <wsdl:message name="GetAvailableImportHeadersResponse">
    <wsdl:part name="GetAvailableImportHeadersResponse" element="ns1:HeadersResponseWrapper" />
  </wsdl:message>
  <wsdl:message name="GetAvailableExportMasterHeaderTypesRequest">
    <wsdl:part name="GetAvailableExportMasterHeaderTypesRequest" element="ns1:GetAvailableExportMasterHeaderTypesRequest" />
  </wsdl:message>
  <wsdl:message name="GetAvailableExportMasterHeaderTypesResponse">
    <wsdl:part name="GetAvailableExportMasterHeaderTypesResponse" element="ns1:MasterHeaderTypesResponseWrapper" />
  </wsdl:message>
  <wsdl:message name="GetAvailableImportMasterHeaderTypesRequest">
    <wsdl:part name="GetAvailableImportMasterHeaderTypesRequest" element="ns1:GetAvailableImportMasterHeaderTypesRequest" />
  </wsdl:message>
  <wsdl:message name="GetAvailableImportMasterHeaderTypesResponse">
    <wsdl:part name="GetAvailableImportMasterHeaderTypesResponse" element="ns1:MasterHeaderTypesResponseWrapper" />
  </wsdl:message>
  <wsdl:message name="GetLinesRequest">
    <wsdl:part name="GetLinesRequest" element="ns1:GetLinesRequest" />
  </wsdl:message>
  <wsdl:message name="GetLinesResponse">
    <wsdl:part name="GetLinesResponse" element="ns1:LinesResponseWrapper" />
  </wsdl:message>
  <wsdl:message name="AddOrUpdateLinesRequest">
    <wsdl:part name="AddOrUpdateLinesRequest" element="ns1:AddOrUpdateLinesRequest" />
  </wsdl:message>
  <wsdl:message name="AddOrUpdateLinesResponse">
    <wsdl:part name="AddOrUpdateLinesResponse" element="ns1:StatusesResponseWrapper" />
  </wsdl:message>
  <wsdl:portType name="InfopiaWSPortType">
    <wsdl:operation name="GetAvailableExportHeaders">
      <wsdl:input name="GetAvailableExportHeadersRequest" message="tns:GetAvailableExportHeadersRequest" />
      <wsdl:output name="GetAvailableExportHeadersResponse" message="tns:GetAvailableExportHeadersResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableImportHeaders">
      <wsdl:input name="GetAvailableImportHeadersRequest" message="tns:GetAvailableImportHeadersRequest" />
      <wsdl:output name="GetAvailableImportHeadersResponse" message="tns:GetAvailableImportHeadersResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableExportMasterHeaderTypes">
      <wsdl:input name="GetAvailableExportMasterHeaderTypesRequest" message="tns:GetAvailableExportMasterHeaderTypesRequest" />
      <wsdl:output name="GetAvailableExportMasterHeaderTypesResponse" message="tns:GetAvailableExportMasterHeaderTypesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableImportMasterHeaderTypes">
      <wsdl:input name="GetAvailableImportMasterHeaderTypesRequest" message="tns:GetAvailableImportMasterHeaderTypesRequest" />
      <wsdl:output name="GetAvailableImportMasterHeaderTypesResponse" message="tns:GetAvailableImportMasterHeaderTypesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetLines">
      <wsdl:input name="GetLinesRequest" message="tns:GetLinesRequest" />
      <wsdl:output name="GetLinesResponse" message="tns:GetLinesResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateLines">
      <wsdl:input name="AddOrUpdateLinesRequest" message="tns:AddOrUpdateLinesRequest" />
      <wsdl:output name="AddOrUpdateLinesResponse" message="tns:AddOrUpdateLinesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InfopiaWSBinding" type="tns:InfopiaWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableExportHeaders">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableImportHeaders">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableExportMasterHeaderTypes">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableImportMasterHeaderTypes">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLines">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateLines">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfopiaWebService">
    <wsdl:port name="InfopiaWSSoapPort" binding="tns:InfopiaWSBinding">
      <soap:address location="https://test.infopia.com/InfopiaWebServices/InfopiaWS/2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>