Code/ShipWorks/Web References/Shipping.Carriers.EquaShip.WebServices/equashipapi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://equaship.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://equaship.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://equaship.com/">
      <s:element name="GetRatesAndTransitTimes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RatesAndTransitTimesRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RatesAndTransitTimesRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:AuthenticationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipment" type="tns:ShipmentType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AuthenticationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ActivationKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LoginName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShipmentType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReturnToAddress" type="tns:AddressType" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipFromAddress" type="tns:AddressType" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipToAddress" type="tns:AddressType" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingNotes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PackagingType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ShipDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="InsuranceAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="InsurancePayType" nillable="true" type="tns:InsurancePayTypeEnum" />
          <s:element minOccurs="1" maxOccurs="1" name="DeclaredValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="EmailNotificationFlag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ResidentialFlag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SaturdayDeliveryFlag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryConfirmationFlag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SignatureConfirmationFlag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Oversize1Flag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Oversize2Flag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LabelType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LabelSize" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItems" type="tns:LineItemListType" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentInfo" type="tns:PaymentInfoType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentOrName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISO2CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="InsurancePayTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="EQUASURANCE" />
          <s:enumeration value="WAIVED" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="LineItemListType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LineItem" type="tns:ArrayOfLineItemType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLineItemType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineItemType" nillable="true" type="tns:LineItemType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineItemType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QuantityUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryOfManufactureISO2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduleB" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PaymentInfoType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="tns:AddressType" />
          <s:element minOccurs="0" maxOccurs="1" name="CC_Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CC_VerificationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CC_ExpirationMonth2Char" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CC_ExpirationYear2Char" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CC_Type" type="tns:CreditCardTypeEnum" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CreditCardTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="AMEX" />
          <s:enumeration value="VISA" />
          <s:enumeration value="MASTERCARD" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetRatesAndTransitTimesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRatesAndTransitTimesResult" type="tns:ResponseToRatesAndTransitTimesRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseToRatesAndTransitTimesRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ErrorType" />
          <s:element minOccurs="0" maxOccurs="1" name="Services" type="tns:ServiceListType" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErrorType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceListType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Service" type="tns:ArrayOfServiceType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfServiceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceType" nillable="true" type="tns:ServiceType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="EstimatedDeliveryDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessShipment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:ShipmentRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ShipmentRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:AuthenticationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipment" type="tns:ShipmentType" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessShipmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessShipmentResult" type="tns:ResponseToShipmentRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseToShipmentRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ErrorType" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ErrorListType" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalCharges" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Label" type="tns:ArrayOfShipmentLabelType" />
          <s:element minOccurs="0" maxOccurs="1" name="Document" type="tns:ArrayOfShipmentDocumentType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErrorListType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ArrayOfErrorType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfErrorType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErrorType" nillable="true" type="tns:ErrorType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfShipmentLabelType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShipmentLabelType" nillable="true" type="tns:ShipmentLabelType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShipmentLabelType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LabelType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LabelBase64String" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfShipmentDocumentType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShipmentDocumentType" nillable="true" type="tns:ShipmentDocumentType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShipmentDocumentType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DocumentFormat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentBase64String" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TrackShipment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:TrackShipmentRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TrackShipmentRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:AuthenticationType" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TrackShipmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackShipmentResult" type="tns:ResponseToTrackShipmentRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseToTrackShipmentRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ErrorType" />
          <s:element minOccurs="0" maxOccurs="1" name="Events" type="tns:TrackingEventListType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TrackingEventListType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Event" type="tns:ArrayOfTrackingEventType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTrackingEventType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TrackingEventType" nillable="true" type="tns:TrackingEventType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TrackingEventType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EventDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EventDateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="VoidShipment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:VoidShipmentRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VoidShipmentRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:AuthenticationType" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="VoidShipmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VoidShipmentResult" type="tns:ResponseToVoidShipmentRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseToVoidShipmentRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ErrorType" />
        </s:sequence>
      </s:complexType>
      <s:element name="ImportShipments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:ImportShipmentsRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ImportShipmentsRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:AuthenticationType" />
          <s:element minOccurs="0" maxOccurs="1" name="Shipments" type="tns:ShipmentListType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ShipmentListType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Shipment" type="tns:ArrayOfShipmentType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfShipmentType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ShipmentType" nillable="true" type="tns:ShipmentType" />
        </s:sequence>
      </s:complexType>
      <s:element name="ImportShipmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportShipmentsResult" type="tns:ResponseToImportShipmentsRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseToImportShipmentsRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ErrorType" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ErrorListType" />
          <s:element minOccurs="1" maxOccurs="1" name="BatchNumber" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="LocateDropOffPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:DropOffPointRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DropOffPointRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Authentication" type="tns:AuthenticationType" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LocateDropOffPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocateDropOffPointsResult" type="tns:ResponseToDropOffPointRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseToDropOffPointRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:ErrorType" />
          <s:element minOccurs="0" maxOccurs="1" name="DropOffPoints" type="tns:DropOffPointListType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DropOffPointListType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DropOff" type="tns:ArrayOfDropOffPointType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDropOffPointType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DropOffPointType" nillable="true" type="tns:DropOffPointType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DropOffPointType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DropOffID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNbr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Lattitude" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="LatestDropOffTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DistanceToOrigin" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRatesAndTransitTimesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRatesAndTransitTimes" />
  </wsdl:message>
  <wsdl:message name="GetRatesAndTransitTimesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRatesAndTransitTimesResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessShipmentSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessShipment" />
  </wsdl:message>
  <wsdl:message name="ProcessShipmentSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessShipmentResponse" />
  </wsdl:message>
  <wsdl:message name="TrackShipmentSoapIn">
    <wsdl:part name="parameters" element="tns:TrackShipment" />
  </wsdl:message>
  <wsdl:message name="TrackShipmentSoapOut">
    <wsdl:part name="parameters" element="tns:TrackShipmentResponse" />
  </wsdl:message>
  <wsdl:message name="VoidShipmentSoapIn">
    <wsdl:part name="parameters" element="tns:VoidShipment" />
  </wsdl:message>
  <wsdl:message name="VoidShipmentSoapOut">
    <wsdl:part name="parameters" element="tns:VoidShipmentResponse" />
  </wsdl:message>
  <wsdl:message name="ImportShipmentsSoapIn">
    <wsdl:part name="parameters" element="tns:ImportShipments" />
  </wsdl:message>
  <wsdl:message name="ImportShipmentsSoapOut">
    <wsdl:part name="parameters" element="tns:ImportShipmentsResponse" />
  </wsdl:message>
  <wsdl:message name="LocateDropOffPointsSoapIn">
    <wsdl:part name="parameters" element="tns:LocateDropOffPoints" />
  </wsdl:message>
  <wsdl:message name="LocateDropOffPointsSoapOut">
    <wsdl:part name="parameters" element="tns:LocateDropOffPointsResponse" />
  </wsdl:message>
  <wsdl:portType name="EquashipAPISoap">
    <wsdl:operation name="GetRatesAndTransitTimes">
      <wsdl:input message="tns:GetRatesAndTransitTimesSoapIn" />
      <wsdl:output message="tns:GetRatesAndTransitTimesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessShipment">
      <wsdl:input message="tns:ProcessShipmentSoapIn" />
      <wsdl:output message="tns:ProcessShipmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TrackShipment">
      <wsdl:input message="tns:TrackShipmentSoapIn" />
      <wsdl:output message="tns:TrackShipmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidShipment">
      <wsdl:input message="tns:VoidShipmentSoapIn" />
      <wsdl:output message="tns:VoidShipmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportShipments">
      <wsdl:input message="tns:ImportShipmentsSoapIn" />
      <wsdl:output message="tns:ImportShipmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LocateDropOffPoints">
      <wsdl:input message="tns:LocateDropOffPointsSoapIn" />
      <wsdl:output message="tns:LocateDropOffPointsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EquashipAPISoap" type="tns:EquashipAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRatesAndTransitTimes">
      <soap:operation soapAction="http://equaship.com/GetRatesAndTransitTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessShipment">
      <soap:operation soapAction="http://equaship.com/ProcessShipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackShipment">
      <soap:operation soapAction="http://equaship.com/TrackShipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidShipment">
      <soap:operation soapAction="http://equaship.com/VoidShipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportShipments">
      <soap:operation soapAction="http://equaship.com/ImportShipments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocateDropOffPoints">
      <soap:operation soapAction="http://equaship.com/LocateDropOffPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquashipAPISoap12" type="tns:EquashipAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRatesAndTransitTimes">
      <soap12:operation soapAction="http://equaship.com/GetRatesAndTransitTimes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessShipment">
      <soap12:operation soapAction="http://equaship.com/ProcessShipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackShipment">
      <soap12:operation soapAction="http://equaship.com/TrackShipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidShipment">
      <soap12:operation soapAction="http://equaship.com/VoidShipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportShipments">
      <soap12:operation soapAction="http://equaship.com/ImportShipments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocateDropOffPoints">
      <soap12:operation soapAction="http://equaship.com/LocateDropOffPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EquashipAPI">
    <wsdl:port name="EquashipAPISoap" binding="tns:EquashipAPISoap">
      <soap:address location="http://integrate.equaship.com/apidev/equashipapi.asmx" />
    </wsdl:port>
    <wsdl:port name="EquashipAPISoap12" binding="tns:EquashipAPISoap12">
      <soap12:address location="http://integrate.equaship.com/apidev/equashipapi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>