Code/ShipWorks/Shipping/Carriers/FedEx/Wsdl/RegistrationService_v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://fedex.com/ws/registration/v2" xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://fedex.com/ws/registration/v2" name="RegistrationServiceDefinitions">
	<types>
		<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fedex.com/ws/registration/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="SubscriptionRequest" type="ns:SubscriptionRequest"/>
			<xs:element name="SubscriptionReply" type="ns:SubscriptionReply"/>
			<xs:element name="RegisterWebCspUserRequest" type="ns:RegisterWebCspUserRequest"/>
			<xs:element name="RegisterWebCspUserReply" type="ns:RegisterWebCspUserReply"/>
			<xs:element name="VersionCaptureRequest" type="ns:VersionCaptureRequest"/>
			<xs:element name="VersionCaptureReply" type="ns:VersionCaptureReply"/>
			<xs:complexType name="SubscriptionRequest">
				<xs:annotation>
					<xs:documentation>The descriptive data sent by the customer to register to use FedEx Web Services. This is a one-time only request to register the customer's FedEx account. A unique meter number specific to the customer's FedEx account number will be returned to the client. The meter number should be used in all subsequent requests sent to FedEx web services.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
						<xs:annotation>
							<xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ClientDetail" type="ns:ClientDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="ns:VersionId" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CspSolutionId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A unique identifier assigned to CSPs by FedEx</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>3</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="CspType" type="ns:CspType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>If the FedEx Web Services caller is a CSP, set this element to one of the values associated with CspType.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Subscriber" type="ns:Party" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The descriptive data element that provides information about the party initiating the subscription request to FedEx Web Services.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AccountShippingAddress" type="ns:Address" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The descriptive data for the physical shipping address for the account.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SubscriptionReply">
				<xs:annotation>
					<xs:documentation>The descriptive data returned for a FedEx Web Services SubscriptionRequest to register a customer's account. A unique meter number specific to the customer's FedEx account number is returned to the client. The meter number should be used in all subsequent requests sent to FedEx Web Services.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="HighestSeverity" type="ns:NotificationSeverityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notifications" type="ns:Notification" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Descriptive data that governs data payload language/translations.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="ns:VersionId" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeterNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the unique client device (i.e. meter number) assigned by FedEx and associated with the FedEx account number sent in the request. The returned meter number should be used with all subsequent FedEx Web Services requests.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>10</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegisteredServices" type="ns:SubscriptionServiceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Identifies the FedEx shipping service type(s) that the caller has been registered to use.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="CspType">
				<xs:annotation>
					<xs:documentation>Identifies the set of available FedEx Custom Solution Provider types.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="CERTIFIED_SOLUTION_PROVIDER"/>
					<xs:enumeration value="TRADITIONAL_API"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Party">
				<xs:annotation>
					<xs:documentation>The descriptive data for a person or company entity doing business with FedEx.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="AccountNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the FedEx account number assigned to the customer.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>12</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Contact" type="ns:Contact" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Descriptive data identifying the point-of-contact person.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Address" type="ns:Address" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The descriptive data for a physical location.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Contact">
				<xs:annotation>
					<xs:documentation>The descriptive data for a point-of-contact person.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="PersonName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the contact person's name.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>35</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="CompanyName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the contact person's company name.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>35</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="PhoneNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the contact person's phone number.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>15</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="PagerNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the contact person's pager number.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>15</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="FaxNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the contact person's fax machine phone number.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>15</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="EMailAddress" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the contact person's email address.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>120</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="SubscriptionServiceType">
				<xs:annotation>
					<xs:documentation>Identifies the set of available FedEx shipping services that a client can be registered to use.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="EXPRESS_SHIPPING"/>
					<xs:enumeration value="GROUND_SHIPPING"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="RegisterWebCspUserRequest">
				<xs:annotation>
					<xs:documentation>The descriptive data sent by the customer to obtain the end user authentication credentials required to use FedEx Web Services. This is typically a one-time only request for each customer. A unique key and password will be returned to the client in the reply. This end user key and password inherits the services enabled for the CSP credentials and must be passed in all subsequent requests sent to FedEx web services.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
						<xs:annotation>
							<xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ClientDetail" type="ns:ClientDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Descriptive data identifying the client submitting the transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="ns:VersionId" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Categories" type="ns:WebServiceCategoryType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>List (array) of all categories for which the requester wishes to register</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BillingAddress" type="ns:Address" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Billing address of the user</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UserContactAndAddress" type="ns:ParsedContactAndAddress" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Contact and address data for this specific installation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SecondaryEmail" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Alternate means of contacting someone for this installation</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="WebAuthenticationDetail">
				<xs:annotation>
					<xs:documentation>Used in authentication of the sender's identity.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="CspCredential" type="ns:WebAuthenticationCredential" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Credential used to authenticate a CSP product/version.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UserCredential" type="ns:WebAuthenticationCredential" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Credential used to authenticate a specific software application. This value is provided by FedEx after registration.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="WebAuthenticationCredential">
				<xs:annotation>
					<xs:documentation>Two part authentication string used for the sender's identity.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Key" type="xs:string" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Identifying part of the authentication key. This value is provided by FedEx after registration.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>16</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Password" type="xs:string" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Secret part of authentication key used for authentication. This value is provided by FedEx after registration.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>25</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ClientDetail">
				<xs:annotation>
					<xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="AccountNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The FedEx account number assigned to the customer initiating the request.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>12</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeterNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the unique client device submitting the request. This number is assigned by FedEx and identifies the unique device from which the request is originating.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>10</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="ClientProductId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the product.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>4</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="ClientProductVersion" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the product version.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>4</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="IntegratorId" type="xs:string" minOccurs="0"/>
					<xs:element name="Region" type="ns:ExpressRegionCode" minOccurs="0"/>
					<xs:element name="Localization" type="ns:Localization" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Governs any future language/translations used for human-readable Notification.localizedMessages in responses to the request containing this ClientDetail object. Different requests from the same client may contain different Localization data. (Contrast with TransactionDetail.localization, which governs data payload language/translation.)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Localization">
				<xs:annotation>
					<xs:documentation>Governs any future language/translations used for human-readable text.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="LanguageCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the language to use for human-readable messages.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>2</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocaleCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the locale (i.e.  country code) associated with the language.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>2</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="TransactionDetail">
				<xs:annotation>
					<xs:documentation>Descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="CustomerTransactionId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies a customer-supplied unique identifier for this transaction. It is returned in the reply message to aid in matching requests to replies.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>40</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Localization" type="ns:Localization" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Governs any future language/translations applied to the data payload(contrasted with ClientDetail.localization, which governs Notification.localizedMessage language selection).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VersionId">
				<xs:annotation>
					<xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ServiceId" type="xs:string" minOccurs="1" fixed="fcas">
						<xs:annotation>
							<xs:documentation>Identifies a system or sub-system which performs an operation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Major" type="xs:int" minOccurs="1" fixed="2">
						<xs:annotation>
							<xs:documentation>Identifies the service business level. For this release this value should be set to 2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Intermediate" type="xs:int" minOccurs="1" fixed="1">
						<xs:annotation>
							<xs:documentation>Identifies the service interface level. For this release this value should be set to 0.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Minor" type="xs:int" minOccurs="1" fixed="0">
						<xs:annotation>
							<xs:documentation>Identifies the service code level. For this release this value should be set to 0.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Address">
				<xs:annotation>
					<xs:documentation>The descriptive data for a physical location.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="StreetLines" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Combination of number, street name, etc. At least one line is required for a valid physical address; empty lines should not be included.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>35</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="City" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name of city, town, etc.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>
									<ns:Express>35</ns:Express>
									<ns:Ground>20</ns:Ground>
								</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="StateOrProvinceCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifying abbreviation for US state, Canada province, etc. Format and presence of this field will vary, depending on country.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>14</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="PostalCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identification of a region (usually small) for mail/package delivery. Format and presence of this field will vary, depending on country. This element is required if both the City and StateOrProvinceCode are not present.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>16</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="CountryCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identification of a country.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>2</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ParsedContactAndAddress">
				<xs:annotation>
					<xs:documentation>ContactAndAddress with separate first and last names.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Contact" type="ns:ParsedContact" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Contact details with separate first and last names.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Address" type="ns:Address" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Descriptive data for a physical location.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ParsedContact">
				<xs:annotation>
					<xs:documentation>Contact details with separate first and last names.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="PersonName" type="ns:ParsedPersonName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User's first and last name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Title" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Title of the User where he is working.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CompanyName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name of the company where this User is working in.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Department" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name of the department where this User belongs to</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PhoneNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Contact Number of this User</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PagerNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Pager Number of this User</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FaxNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Fax Number of this User</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EMailAddress" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Email Address of this User</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ParsedPersonName">
				<xs:annotation>
					<xs:documentation>Contact Fullname with separate first and last names.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="FirstName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Contact first name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LastName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Contact last name.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RegisterWebCspUserReply">
				<xs:sequence>
					<xs:element name="HighestSeverity" type="ns:NotificationSeverityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This indicates the highest level of severity of all the notifications returned in this reply</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notifications" type="ns:Notification" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The descriptive data regarding the results of the submitted transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="ns:VersionId" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Credential" type="ns:WebAuthenticationCredential" minOccurs="0">
						<xs:annotation>
							<xs:documentation>CSP user credential.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ExpressRegionCode">
				<xs:restriction base="xs:string">
					<xs:enumeration value="APAC"/>
					<xs:enumeration value="CA"/>
					<xs:enumeration value="EMEA"/>
					<xs:enumeration value="LAC"/>
					<xs:enumeration value="US"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="NotificationSeverityType">
				<xs:annotation>
					<xs:documentation>Identifies the set of severity values for a Notification.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ERROR"/>
					<xs:enumeration value="FAILURE"/>
					<xs:enumeration value="NOTE"/>
					<xs:enumeration value="SUCCESS"/>
					<xs:enumeration value="WARNING"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="WebServiceCategoryType">
				<xs:annotation>
					<xs:documentation>Classification of web services by major business functions</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="OFFICE_AND_PRINT"/>
					<xs:enumeration value="SHIPPING"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Notification">
				<xs:annotation>
					<xs:documentation>The descriptive data regarding the results of the submitted transaction.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Severity" type="ns:NotificationSeverityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The severity of this notification. this can indicate success or failure or some other information about the request such as errors or notes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Source" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicates the source of the notification. Combined with Code, it uniqely identifies this message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Code" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A code that represents this notification. Combined with Source, it uniqely identifies this message.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>8</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Message" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text that explains this notification.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>255</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocalizedMessage" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A translated message. The translation is based on the Localization element of the ClientDetail element of the request.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>TBD</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="MessageParameters" type="ns:NotificationParameter" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>If the message used parameter replacement to be specific as to the meaning of the message, this is the list of parameters that were used.</xs:documentation>
							<xs:appinfo>
								<xs:MaxLength>TBD</xs:MaxLength>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="NotificationParameter">
				<xs:sequence>
					<xs:element name="Id" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name identifiying the type of the data in the element 'Value'</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Value" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The value that was used as the replacement parameter.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VersionCaptureRequest">
				<xs:annotation>
					<xs:documentation>FedEx SSP Version Capture request.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
						<xs:annotation>
							<xs:documentation>The descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ClientDetail" type="ns:ClientDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The descriptive data identifying the client submitting the transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The descriptive data for this customer transaction. The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="ns:VersionId" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OriginLocationId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Obtained by sending a Zip inquiry transaction</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VendorProductPlatform" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Vendor product platform.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="VersionCaptureReply">
				<xs:annotation>
					<xs:documentation>FedEx SSP Version Capture reply.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="HighestSeverity" type="ns:NotificationSeverityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the highest severity encountered when executing the request; in order from high to low: FAILURE, ERROR, WARNING, NOTE, SUCCESS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notifications" type="ns:Notification" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The descriptive data detailing the status of a sumbitted transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Descriptive data that governs data payload language/translations.  The TransactionDetail from the request is echoed back to the caller in the corresponding reply.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="ns:VersionId" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="SubscriptionRequest">
		<part name="SubscriptionRequest" element="ns:SubscriptionRequest"/>
	</message>
	<message name="SubscriptionReply">
		<part name="SubscriptionReply" element="ns:SubscriptionReply"/>
	</message>
	<message name="RegisterWebCspUserRequest">
		<part name="RegisterWebCspUserRequest" element="ns:RegisterWebCspUserRequest"/>
	</message>
	<message name="RegisterWebCspUserReply">
		<part name="RegisterWebCspUserReply" element="ns:RegisterWebCspUserReply"/>
	</message>
	<message name="VersionCaptureRequest">
		<part name="VersionCaptureRequest" element="ns:VersionCaptureRequest"/>
	</message>
	<message name="VersionCaptureReply">
		<part name="VersionCaptureReply" element="ns:VersionCaptureReply"/>
	</message>
	<portType name="RegistrationPortType">
		<operation name="subscription" parameterOrder="SubscriptionRequest">
			<input message="ns:SubscriptionRequest"/>
			<output message="ns:SubscriptionReply"/>
		</operation>
		<operation name="registerWebCSPUser" parameterOrder="RegisterWebCspUserRequest">
			<input message="ns:RegisterWebCspUserRequest"/>
			<output message="ns:RegisterWebCspUserReply"/>
		</operation>
		<operation name="versionCapture" parameterOrder="VersionCaptureRequest">
			<input message="ns:VersionCaptureRequest"/>
			<output message="ns:VersionCaptureReply"/>
		</operation>
	</portType>
	<binding name="RegistrationServiceSoapBinding" type="ns:RegistrationPortType">
		<s1:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="subscription">
			<s1:operation soapAction="subscription" style="document"/>
			<input>
				<s1:body use="literal"/>
			</input>
			<output>
				<s1:body use="literal"/>
			</output>
		</operation>
		<operation name="registerWebCSPUser">
			<s1:operation soapAction="registerWebCSPUser" style="document"/>
			<input>
				<s1:body use="literal"/>
			</input>
			<output>
				<s1:body use="literal"/>
			</output>
		</operation>
		<operation name="versionCapture">
			<s1:operation soapAction="versionCapture" style="document"/>
			<input>
				<s1:body use="literal"/>
			</input>
			<output>
				<s1:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RegistrationService">
		<port name="RegistrationServicePort" binding="ns:RegistrationServiceSoapBinding">
			<s1:address location="https://gatewaybeta.fedex.com:443/web-services"/>
		</port>
	</service>
</definitions>
